#map {
	height: 500px;
}
#sidebar{
	height: 450px;
	overflow:auto;
}
#more{
	height: 30px;
}
#map img {
 	max-width: none;
}
#map-sidebar{
	margin-top:20px;
}
#main-menu li{
	padding:0px 10px;
}
#types_div{
	display:none;
}
i{
	cursor:pointer;
}
.search_type{
	height: 70px;
	overflow:auto;
	border:1px solid;
	border-radius:5px;
}
